* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #e1e1e1;
    min-height: 100vh;
    padding: 2rem 6rem 6rem 6rem;
    color: #333;
}

.first_container{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: 370px; ;
    border-radius: 20px;
    margin-bottom: 2rem;
}
.img_side{
    border-radius: 20px;

}
.img_side img{
    flex: 1;
    border-radius: 20px;
    max-block-size: 370px;
    margin-left: 2rem;
}
.text_side{
    display:flex;
    padding-top: 1.5rem;
    padding-left: 1rem;
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%;
    border-radius: 20px;
}
.text_side h1{
    font-size: 2rem;
    margin-bottom: 1rem;

}
.text_side p{
    font-size: 1.5rem;
}
.text_side button{
    width: 60%;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    border-color:#c084fc;
    margin-bottom: 1rem;
}
.text_side button:hover{
    background-color: #c084fc;
}
.course_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 2rem 3rem;
    border-radius: 10px;
}
.info_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 1rem;
    text-align: center;
}
.info_item p{
    font-size: 1rem;
    color: #6b6b6b;
}
.info_item h1{
    font-weight: bold;
    font-size: 2.5rem;
}
.info_item:not(:first-child){
    padding-left: 3rem;
    border-left: solid #eee;
}